.dropdown-content {
  display: none;
  position: absolute;
  border: .5px solid #f5f5f5;
  border-radius: 12px;
  right: 0px;
  background-color: #fff;
  min-width: 200px;
  overflow: auto;
  box-shadow: 3px 3px 5px #d8d8d8;
  z-index: 1;
  padding: 10px 15px; 
}

.btn-space {
  margin-bottom: 16px;
}

.dropdown {
  display: block;
}

.show {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown a:hover {background-color: #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}