input {
  border: .5px solid #f5f5f5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  height: 35px;
  padding-left: 16px;
  width: 300px;
  box-shadow: 2px 2px 5px #cccbcb;
  transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
}

::placeholder {
  font-size: .8em;
  color: #000;
  font-weight: 450;
  display: flex;
  align-items: center;
}

input:focus {
  outline: none !important;
  border: .5px solid #c5c5c5;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: .8em;
  color: #000;
  font-weight: 450;
  padding-left: 16px;
  display: flex;
  align-items: center;
}