.title {
  font-family: 'Aachenb';
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 56px;
  color: #bd1e2d;
}

.chain-container {
  margin-top: 32px;
  padding-bottom: 32px;
  width: 80%;
  border-bottom: 2px solid #bd1e2d;
}