.combo-wrap {
  max-width: 600px;
  margin: 32px 0;
}

.combo-name {
  font-size: 1em;
  font-weight: bold;
}

.combo-price {
  font-size: 1em;
  font-weight: bold;
  color: #bd1e2d;
}

.col {
  margin: 0;
  padding: 0
}

/* .container {
  margin: 0
} */

.img-wrap {
  max-width: fit-content;
  margin-right: 24px;
}

.discount {
  font-size: .7em;
  text-align: right
}