.footer-container {
  background-color: #bd1e2d;
  padding: 32px 10%;
  color: #fff;
  width: 100%;
}

.res-name {
  font-family: 'Aachenb';
  text-transform: uppercase;
  font-size: 1.5em;
}

.phone-number {
  font-family: 'Aachenb';
  font-size: 3em;
}

ul {
  list-style-type:none;
}

li {
  font-size: .85em;
}